/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

.center {
    margin: 0 auto;
}

h1, .h5 {
    font-family: 'Trade Winds', cursive;
}

/* Card container */
#card-container {
    margin-top: 2rem;
}

/* Card styling */
.card {
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.card-body {
    padding-top: 9px;
    padding-bottom: 0px;
    background-color: gold;
}

.card-title {
    text-align: center;
}